<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="dark-bg">

<div class="menu-btn" onclick="toggleMenu()">☰</div>
<button class="back-btn" onclick="goBack()">⬅ Back</button>


<div class="sidebar" id="sidebar">
    <h2>🕉 Admin</h2>
    <a href="/admin">⬅ Back</a>
    <a href="/logout">🚪 Logout</a>
</div>

<div class="login-box">
    <h2>🔐 Change Password</h2>
    <form method="POST">
        <input type="password" name="old_password" placeholder="Old Password" required><br>
        <input type="password" name="new_password" placeholder="New Password" required><br>
        <button type="submit">Update Password</button>
    </form>
</div>

<script>
function toggleMenu(){
    document.getElementById("sidebar").classList.toggle("active");
}

/* Sidebar auto close on page load */
window.addEventListener("pageshow", function () {
    document.getElementById("sidebar").classList.remove("active");
});
</script>

</body>
</html>
